@use "brand-color";
@use "secondary-color";
@use "neutral-color";

:root {
  // offset
  --site-content-offset-horizon: 48px;
  --container-offset: 40px;

  // height
  --header-height: 60px;
  --main-height: calc(100vh - var(--header-height));

  //width
  --aside-width: 250px;

  // font-size
  --main-font-family: "Inter Tight";
}
