@use "base";
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  background: var(--base-background);
  color: var(--primary-text);
  transition: background-color 0.3s,
  color 0.3s, border-color 0.3s;
  font-family: var(--main-font-family), sans-serif;
}
